:root {
    --clr-primary-600: hsl(5, 85%, 63%); 
    --clr-secondary-400: hsl(35, 77%, 62%); 

    --clr-neutral-900: hsl(240, 100%, 5%);
    --clr-neutral-600: hsl(236, 13%, 42%); 
    --clr-neutral-400: hsl(233, 8%, 79%);
    --clr-neutral-100: hsl(36, 100%, 99%);
    
    --ff-base: 'Inter', sans-serif;
    
    --fw-base: 400; 
    --fw-bold: 800; 
}
*, *::before, *::after {
    box-sizing: border-box;
}
 
* {
    margin: 0;
}
body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}


/* global-styles */
body {
    padding: 5rem max(5rem, 20rem);
    background-color: var(--clr-neutral-100);
    font-family: var(--ff-base); 
}


/* specific-styles */
.nav-bar {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    padding-block: 3rem;
}

.nav-bar__logo {
    cursor: pointer; 
}

.primary-nav {
    display: flex;
    gap: 2em;
}

.primary-nav li {
    list-style: none;
}
.primary-nav li > a {
    text-decoration: none;
    color: var(--clr-neutral-600);
    font-weight: var(--fw-base);
    font-size: 1.2rem;
}

.primary-nav li > a:hover{
    color: var(--clr-primary-600)
}

.hero-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem; 
}

.hero__image {
    height: 100%;
}

.grid-span-2 {
    grid-column: 1 / 3;
}

.hero__card {
    grid-column: 3 / 3;
    grid-row: 1 / 3;
    background-color: var(--clr-neutral-900); 
}

.hero__card h2 {
    color: var(--clr-secondary-400);
    padding: 1rem;
    font-size: 2rem;
}

.hero__card-headlines {
    padding: .5rem;
    color: var(--clr-neutral-100);
    padding-inline: 1.5rem;
    position: relative; 
}

.hero__card-headlines::after {
    position: absolute;
    content: '';
    inset: 99% 0 0 0;
    background-color: var(--clr-neutral-600);
    display: block;
    width: 50%;
    transform: translateX(50%)
}

.hero__card-headlines h3 {
    font-size: 1.2rem;
    cursor: pointer;
}

.hero__card-headlines h3:hover {
    color: var(--clr-secondary-400);
}

.hero__card-headlines p {
    font-size: .9rem;
    color: var(--clr-neutral-600)
}

.flex-column {
    display: flex; 
    flex-direction: column;
}

.hero__card-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.hero__heading {
    grid-column: -4 / -3;
}

.hero__heading h1 {
    font-weight: var(--fw-bold);
    font-size: 3rem;
    line-height: 3.5rem;
    text-align: left;
    padding-block: 2rem;
}

.hero__cta {
    grid-column: -3 / -2;
}

.hero__cta p {
    color: var(--clr-neutral-600);
    padding: 2rem 1rem;
    font-weight: var(--ff-base);
    font-size: 1.1rem;
}

.hero__cta button {
    padding: .5rem 2rem;
    margin-left: 2rem;
    cursor: pointer; 
    border: none;
    background-color: var(--clr-primary-600);
    color: var(--clr-neutral-100);
    font-size: 1rem;
    border-radius: .5rem;
}

.hero__cta button:hover {
    background-color: var(--clr-neutral-900);
}

.card-container {
    margin-block: 2rem;
    display: flex;
}

.card-container .card > img {
    width: 100px;
}


.card {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
}

.number {
    font-weight: var(--fw-bold);
    font-size: 2rem;
    color:var(--clr-neutral-600);
}

.card-info__header {
    font-size: 1.3rem;
    font-weight: var(--fw-bold);
    color: var(--clr-neutral-900)
}

.card-info__content {
    color: var(--clr-neutral-600); 
}

.mobile-nav-toggle {
    display: none; 
    pointer-events: none;
}


@media (max-width: 30rem) {
    body {
        margin-inline: 1rem;
        padding: 0;
        overflow-x: hidden;
    }

    .primary-nav {
        padding: 7rem min(5vh,2rem);
        position: fixed; 
        inset: 0 0 0 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: rgba(173,216,230, .9); 
        z-index: 1000;
        
        transform: translateX(100%);
        transition: transform 350ms ease-in;
    }

    .primary-nav[data-visible = "true"] {
        transform: translateX(0%); 
    }

    .mobile-nav-toggle {
        display: block; 
        pointer-events: all;
        position: absolute;
        z-index: 9999;
        width: 1.5rem;
        aspect-ratio: 1;
        background-color: red;
        background: url("assets/images/icon-menu.svg"); 
        background-repeat: no-repeat;
        border: 0;
        top: 3.3rem;
        right: 2rem;
        cursor: pointer;
    }

    .primary-nav li > a {
        color: var(--clr-neutral-900);
    }

    .hero-container {
        display: flex;
        flex-direction: column;
        padding: 0; 
        margin: 0;
    }

    .hero-container h1 {
        padding: 0;
    }

    .hero-container p {
        padding: 0;
    }

    .hero__cta button {
        margin: 0;
        margin: .5rem 0 0 0;
    }

    .card-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    
    .card {
        display: flex;
        gap: 0;
    }


    .number {
        margin-left: .5rem;
    }

    .card-info__header {
        margin-left: .5rem;
        font-size: 1.1rem;
        padding: 0;
    }

    .card-info__content {
        padding: 0;
        margin-left: .5rem;
        font-size: .9rem;
    }
}

